<div>
  <h1>This is dashboard</h1>
  <div id="dashboard-widgets">
    <div id="widget-foo"></div>
    <div id="widget-bar"></div>
    <div id="widget-static">Static widget</div>
  </div>
</div>

<%= render_react_component('App', render_react_state) %>
