<header id="global-header">
  <nav id="global-nav">
    <ul class="nav-items">
      <li class="nav-item nav-item-logo"><a href="/"><%= image_tag "wantedly-logo.svg", alt: "Wantedly", width: 44, height: 44, class: "logo" %></a></li>
      <li class="nav-item nav-item-text"><a href="/projects">募集を見る</a></li>
      <li class="nav-item nav-item-text"><a href="/feed">フィードを見る</a></li>
      <li class="nav-item nav-item-text"><a href="/profile">プロフィール</a></li>
    </ul>
  </nav>
</header>
